*{
    margin:0; padding:0;
}
ul,ol{
    list-style: none;
}
html,body{
    height:100%;
}

a{
    text-decoration: none;
}
#page1, #page2,#page3{
    width:100%;
    height:100%;
    position:relative;
    overflow: hidden;
}

#page1{
    background:#09f;
}
#page2{
    background-color: #6c0;
}
#page3{
    background-color: #f36;
}


#page1_txt, 
#page2_txt,
#page3_txt{
    width:400px;
    height:500px;
    position:absolute;
    top:35%;
    left:55%;
    color:white;
}

#page1_txt h2,
#page2_txt h2,
#page3_txt h2{
    padding-bottom:20px;
    border-bottom:2px solid #ff0;
    margin-bottom:20px;
}
#page2_txt ul{
    margin-bottom:20px;
    list-style: circle;
    padding-left:20px;
}
#page2_txt ul li{
    line-height: 1.5;
}

#page1_txt p,
#page3_txt p{
    padding-bottom:20px;
}

#iphone{
    width:326px;
    height:641px;
    
    position: fixed;
    top:0;
    bottom:0;
    right:55%;
    margin:auto;
    /* border:1px solid red; */
}

#iphone #cover{
    position:absolute;
    z-index: 9;

}
#iphone #mask{
    width:252px;
    height:450px;
    margin-top:95px;
    margin-left:35px;

    overflow: hidden;
}

#iphone #mask ul{
    display: flex;
    width:756px;
    height:450px;

    position:relative;
}

#iphone #mask ul li{
    width:252px;
    height:450px;
}

#btn{
    width:30px;
    height:120px;
    position:fixed;
    top:0;
    bottom:0;
    right:30px;
    margin:auto;
}

#btn ul li a{
    display: block;
    width:15px;
    height:15px;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
    margin:20px auto;
}






















