*{
    margin:0; padding:0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}

html,body{
    height:100%;
}

body{
    overflow-x: hidden;
    /*가로스크롤바제거*/
}

header, section, footer{
    width:100%;
    position:relative;
}
@media all and (max-width:767px) {

 header{
    padding:20px;
    box-sizing: border-box;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index: 10;
 }
 .fixed{    
    position:fixed;
 }

header nav{
    width:90%;
    /* height:50px; */
    margin:0 auto;
    /* border:1px solid white; */


    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav input{
    display: none;
    position:absolute;
    right:10%;
    top:0;
    bottom:0;
    margin:auto;
}

header nav .toggle_btn{
    /* display: block; */
    width:50px;
    height:50px;
    /* border:1px solid white; */
    position:relative;
}

header nav .toggle_btn span{
    display: block;
    width:30px;
    height:4px;
    background-color: #fff;

    position:absolute;
    margin:0 10px;

}
header nav .toggle_btn .t_stick{
    top:11px;
}

.toggle_btn .m_stick{
    top:22px;
}

.toggle_btn .b_stick{
    top:33px;
}

#ham_menu:checked~.main_menu{
    left:0;
}

header nav h1{
    width:20%;
}
header nav h1 a img{
    width:200px;
}

header nav ul.main_menu{
    width:100%;
    height:800px;
    /* border:1px solid red; */
    /* display: flex; */

    position:absolute;
    top:100px;
    left:100%;
    background:rgba(0,0,0,0.7);

    transition:all 0.5s;
}

header nav ul.main_menu>li{
    width:100%;
    height:100px;
    text-align: center;
    line-height: 10px;
    /* border:1px solid red; */
}
header nav ul.main_menu>li:nth-child(1),
header nav ul.main_menu>li:nth-child(2),
header nav ul.main_menu>li:nth-child(3)
{
    width:100%;
    height:180px;
    text-align: center;
    line-height: 25px;
}

header nav ul.main_menu>li a{
    font-size: 15px;
    font-weight: bold;
    color:white;
}

header nav ul.main_menu>li .sub_menu{
    margin-top:5px;
    /* display: none; */
    /* border:1px solid red; */
}

header nav ul.main_menu>li .sub_menu li{
    line-height: 25px;
}







    

/*bx-slider디자인 시작*/

#visual{
    width:100%;
    height:100% !important;
}

/*bxslider디자인시 반드시 작성*/

.bx-wrapper, .bx-viewport{

    position:relative;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#visual .slidebox{
    width:100%;
    position:relative;
    height:100vh !important;
}
#visual .slidebox .bx .img1{
    background:url(../images/visual01_01.png) no-repeat center;
    background-size: cover;
    width:100vw;
    height:100vh !important;

}

#visual .slidebox .bx .img2{
    background:url(../images/visual02_01.png) no-repeat center;
    background-size: cover;
    width:100vw;
    height:100vh !important;

}

#visual .slidebox .prevBtn{
    position:absolute;
    width:100px;
    height:100px;
    background-color: rgba(0,0,0,0.5);
    top:0;
    bottom:0;
    left:0;
    margin:auto;
    z-index: 20;
}
#visual .slidebox .nextBtn{
    position:absolute;
    width:100px;
    height:100px;
    background-color: rgba(0,0,0,0.5);
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    z-index: 20;
}
#visual .slidebox .prevBtn a,
#visual .slidebox .nextBtn a{
    font-size: 60px;
    text-align: center;
    color:#fff;
    line-height: 100px;
}

/*about*/

#about{
    width:100%;
    height:900px;
    background: url(../images/bg_about.png) no-repeat center;
    /* border:1px solid red; */
    top:-100px;
}

#about h2{
    width:120px;
    height:30px;
    /* background-color: yellow; */
    text-align: center;
    position: absolute;
    left:0; 
    right:0;
    top:210px;
    margin:auto;
}

#about .txt{
    width:50%;
    padding:30px;

    position:absolute;
    top:270px;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    /* border:1px solid red; */

    opacity: 0;

    transition: all 0.5s ease-in;
}

#about .on{
    top:330px;
    opacity: 1;
}

#about .txt h3{
    font-size: 20px;
    padding-bottom: 20px;
}

#about .txt p{
    font-size: 12px;
    line-height: 2;
}


#program{
    width:100%;
    height:900px;
    background: url(../images/bg_program.png) no-repeat center bottom fixed;

    position:relative;
    top:-90px;
}

#program h2{
    width:130px;
    height:30px;
    position:absolute;
    left:0;
    right:0;
    top:-210px;
    margin:auto;

    text-align: center;

    /* border:1px solid red; */

}
#program ul{
    width:100%;
    height:900px;
    margin:0 auto;

    display: flex;
    flex-flow: row wrap;
}
#program ul li:nth-child(1),
#program ul li:nth-child(2),
#program ul li:nth-child(3){
    width:33.33%;
    padding:30px;
    box-sizing: border-box;

    position:relative;
    overflow: hidden;
}
#program ul li:nth-child(4),
#program ul li:nth-child(5){
    width:50%;
    padding:30px;
    box-sizing: border-box;

    position:relative;
    overflow: hidden;
}

#program ul li p{
    text-align: center;
    position:absolute;
    top:300px;
    left:0;
    right:0;
    margin:auto;
    color:white;
    font-size: 15px;
    font-weight: bold;
}

#program ul li a{
    display: block;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:100%;
    left:0;

    padding:120px 20px 50px;
    box-sizing: border-box;
    line-height: 2;
    color:white;
    font-size: 13px;

    transition: all 0.5s;
}

#program ul li:hover a{
    top:0;
}

#program ul li a span.more{
    display: block;
    width:70px;
    height:25px;
    border-radius: 12.5px;
    background-color:lightgreen;
    text-align: center;
    line-height: 25px;
    color:#333;
    font-size: 14px;
    font-weight: bold;


    position:absolute;
    bottom:100px;
    left:0;
    right:0;
    margin:auto;
}

#program ul li:nth-child(1) .icon_img{
    width:80px;
    height:80px;
    background:url(../images/program01.png) no-repeat left center ;
    background-size: cover;
    /* border:1px solid red; */

    position:absolute;
    left:0;
    right:0;
    top:100px;
    margin:auto;
}
#program ul li:nth-child(2) .icon_img{
    width:80px;
    height:80px;
    background:url(../images/program02.png) no-repeat left center ;
    background-size: cover;
    /* border:1px solid red; */

    position:absolute;
    left:0;
    right:0;
    top:100px;
    margin:auto;
}

#program ul li:nth-child(3) .icon_img{
    width:80px;
    height:80px;
    background:url(../images/program03.png) no-repeat left center ;
    background-size: cover;
    /* border:1px solid red; */

    position:absolute;
    left:0;
    right:0;
    top:100px;
    margin:auto;
}

#program ul li:nth-child(4) .icon_img{
    width:80px;
    height:80px;
    background:url(../images/program04.png) no-repeat left center ;
    background-size: cover;
    /* border:1px solid red; */

    position:absolute;
    left:0;
    right:0;
    top:100px;
    margin:auto;
}


#program ul li:nth-child(5) .icon_img{
    width:80px;
    height:80px;
    background:url(../images/program05.png) no-repeat left center ;
    background-size: cover;
    /* border:1px solid red; */

    position:absolute;
    left:0;
    right:0;
    top:100px;
    margin:auto;
}


#lesson{
    width:100%;
    height:1100px;
    background: url(../images/bg_lesson.png) no-repeat center top;
}
#lesson h2{
    text-align: center;
    padding-top:100px;
}

#lesson figure{
    width:70%;
    padding:20px ;
    box-sizing: border-box;
    /* border:1px solid red; */

    position:absolute;
    top:50px;
    left:0;
    right:0;
    margin:auto;

    opacity: 0;

    text-align: center;
    transition:all 0.5s ease-in;

}

#lesson .on{
    opacity: 1;
    top:150px;
}

#lesson figure img{
    width:100%;
}

#lesson figure figcaption{
    margin:50px 0;
}

#lesson figure figcaption p{
    font-size: 14px;
    line-height: 2;
}

#lesson figure figcaption ul{
    width:80%;
    margin:10px auto;
    /* border:1px solid red; */
}



#lesson figure figcaption ul li{
    line-height: 25px;

}
#lesson figure figcaption ul li a{
    color:#333;
    font-size: 14px;
}

#teacher{
    width:100%;
    height:770px;
    background:url(../images/bg_teacher.png) no-repeat center top;
    /* background-size: contain; */

    border:1px solid red;

    top:-250px;
}

#teacher h2{
    text-align: center;
    padding-top:85px;
}

#teacher ul{
    width:90%;
    margin:70px auto;

    display: flex;
    flex-flow: row wrap;
}
#teacher ul li{
    width:50%;
    height:200px;
    position:relative;
    overflow: hidden;
}

#teacher ul li:nth-child(1){
    background-image: url(../images/teacher1.png) ;background-position:center top;
    background-size: 100% 100%;

    transition:all 0.5s;

}

#teacher ul li:nth-child(2){
    background-image: url(../images/teacher2.png) ;background-position:center top;
    background-size: 100% 100%;
    transition:all 0.5s;
}

#teacher ul li:nth-child(3){
    background-image: url(../images/teacher3.png) ;background-position:center top;
    background-size: 100% 100%;
    transition:all 0.5s;
}
#teacher ul li:nth-child(4){
    background-image: url(../images/teacher4.png) ;background-position:center top;
    background-size: 100% 100%;
    transition:all 0.5s;
}
#teacher ul li:nth-child(5){
    background-image: url(../images/teacher5.png) ;background-position:center top;
    background-size: 100% 100%;
    transition:all 0.5s;
}

#teacher ul li:nth-child(6){
    background-image: url(../images/teacher6.png) ;background-position:center top;
    background-size: 100% 100%;
    transition:all 0.5s;
}

#teacher ul li a{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:white;
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    bottom:-50px;

    transition:all 0.5s;
}
#teacher ul li:hover a{
    bottom:0;
}

#teacher ul li:hover {
    
    background-size: 120% 120%;
}


#fc{
    width:100%;
    height:900px;
    /* border:1px solid red; */
    top:-200px;
    background: url(../images/bg_facilities.png) no-repeat center top;
}

#fc h2{
    text-align: center;
    padding-top:100px;
}



#fc .gallery{
    width:90%;
    margin:50px auto;
    /* border:1px solid red; */

    position:relative;
    top:50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#fc .gallery div{
    width:90%;
    height:290px;
}
#fc .gallery div img{
    width:100%;
}

#fc .gallery ul{
    width:90%;
    height:150px;

    display: flex;
    flex-flow: row wrap;
}

#fc .gallery ul li{
    width:20%;
    margin:0.5%;
}
#fc .gallery ul li a img{
    width:100%;
}
#fc .gallery ul li.fc_more{
    width:20%;
    height:55px;
    border-radius: 20px;
    background-color:lightskyblue;
    text-align: center;
}
#fc .gallery ul li.fc_more a{
    font-size: 11px;
    font-weight: bold;
    color:#333;
    padding-top:5px;

}
#fc .gallery ul li.fc_more span{
    display: block;
    width:50px;
    margin:0px auto;
    height: 25px;
    line-height: 30px;
    border-radius: 11px;
    text-align: center;
    background-color: lightpink;
    color:white;
    font-size: 11px;
    font-weight: bold;
}

#map{
    margin-top:-300px;
    width:100%;
    height:400px;
}

footer{
    width:100%;
    height:550px;
    background-color: #333;
}

footer .center{
    width:90%;
    margin:0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer .center .f_left{
    width:100%;
    padding:20px 0 0;
}

footer .center .f_left h2 {
    width:250px;
}
footer .center .f_left h2 a{
    display: block;
    width:100%;
}
footer .center .f_left h2 a img{
    width:100%;
}

footer .center .f_left p{
    padding:10px 0;
    color:white;
    line-height: 1.5;
    font-size: 12px;
}

footer .center .f_left h2 a img{
    width:60%;
}

footer .center .f_left .sns{
    width:50%;
    display: flex;
    justify-content: space-between;
}







footer .center .f_right{
    width:100%;
    padding:30px 0 0 0px;
}

footer .center .f_right ul.menu1{
    width:100%;
    line-height: 25px;
    border-bottom:1px solid #fff;

    display: flex;
}
footer .center .f_right ul.menu1 li{
    padding:0 20px 0 0;
    /* border:1px solid red; */
}

footer .center .f_right ul.menu1 li a{
    font-size: 11px;
    color:white;
    font-weight: bold;
    padding: 0px ;
    box-sizing: border-box;
}

footer .center .f_right ul.menu2{
    width:100%;
    margin-top:20px;

    /* border:1px solid white; */
    display: flex;
}
footer .center .f_right ul.menu2 li{
    width:20%;
}
footer .center .f_right ul.menu2 li img{
    width:100%;
}

footer .center .f_right ul.menu2 li h2{
    font-size: 11px;
    color:white;
}
footer .center .f_right ul.menu2 li a{
    color:white;
    font-size: 12px;
    line-height: 2;
}

footer .center .f_right p{
    padding:20px 0;
    color:white;
    font-size: 12px;
    letter-spacing: 1px;
}







}















































































